<div class='container'>
    <div class='jumbotron' id='header-section'>
        <div class='jumbotron-content'>
            <h1>Technology is always moving forward.</h1>
            <h4 class='jumbotron-content-subtitle'>Checkout the latest from Tech Crunch:</h4>
        </div>
    </div>
    <div class='articles-section'>
        <div class='row'>
            <div class='col l12 s12'>
                <h1 id='articles' class='page-title'>Top headlines affecting technology today: </h1>
                <div class='articles-flex grid'>
                    {{#each articles}}
                        <div class="card grid-item">
                            <div class="card-content activator">
                                <a class='card-title' target='blank' href='{{url}}'><h5>{{title}}</h5></a><i class="material-icons right chat-icon">chat</i>
                                <p class='card-content-p'>{{byline}}</p>
                                <p class='card-content-p'>{{date}}</p>
                                <p class='card-content-p'>{{excerpt}}</p>
                            </div>
                            <div class="card-reveal">
                                <span class='card-title'>Reader's comments:<i data-value={{_id}} class="material-icons right fullscreen">fullscreen</i><i class="material-icons right">close</i></span>
                                <input placeholder='add a note' id={{_id}} type='text' class='note-input'>
                                <button data-id={{_id}} type='submit' class="waves-effect waves-light btn submit-note">submit</button>

                                {{> articles/cardalter-block note=note }}

                                <!--{{#each note}}-->
                                    <!--<div class='note-box'>-->
                                        <!--<p>{{body}}</p><a id='{{_id}}'><i class='material-icons right trash-delete'>delete_forever</i></a>-->
                                    <!--</div>-->
                                <!--{{/each}}-->
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>